code/chapter5/nodered/flow_jul1523/flows.json
[{"id":"3402e8edbc9bfaff","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"de1cf5ef74edfaaa","type":"mqtt in","z":"3402e8edbc9bfaff","name":"","topic":"@msg/shadowdata","qos":"2","datatype":"auto-detect","broker":"be691f50fa15561c","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":40,"wires":[["5e804248e8bfe0d0"]]},{"id":"9a10570ec6830c46","type":"switch","z":"3402e8edbc9bfaff","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":120,"wires":[["53d8b1b35766ac24","b85d624f12254289"],["16f52ae523001088"],["c62b2c7f04f9fd95"]]},{"id":"5e804248e8bfe0d0","type":"split","z":"3402e8edbc9bfaff","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":230,"y":120,"wires":[["9a10570ec6830c46"]]},{"id":"637ff4cd43e68192","type":"mqtt out","z":"3402e8edbc9bfaff","name":"","topic":"@msg/cmd","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"be691f50fa15561c","x":990,"y":460,"wires":[]},{"id":"53d8b1b35766ac24","type":"ui_gauge","z":"3402e8edbc9bfaff","name":"r","group":"336b34ba42605d99","order":1,"width":0,"height":0,"gtype":"gage","title":"Ref. Cmd","label":"Volts","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":40,"wires":[]},{"id":"16f52ae523001088","type":"ui_gauge","z":"3402e8edbc9bfaff","name":"y","group":"336b34ba42605d99","order":3,"width":0,"height":0,"gtype":"gage","title":"Plant output","label":"Volts","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":100,"wires":[]},{"id":"c62b2c7f04f9fd95","type":"ui_gauge","z":"3402e8edbc9bfaff","name":"u","group":"336b34ba42605d99","order":4,"width":0,"height":0,"gtype":"gage","title":"Controller output","label":"Volts","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":160,"wires":[]},{"id":"bb1dded358598760","type":"mqtt in","z":"3402e8edbc9bfaff","name":"","topic":"@msg/update","qos":"2","datatype":"auto-detect","broker":"be691f50fa15561c","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":220,"wires":[["2886b707601ee6c3"]]},{"id":"2886b707601ee6c3","type":"split","z":"3402e8edbc9bfaff","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":220,"wires":[["8cb4e37d4f53e014"]]},{"id":"8cb4e37d4f53e014","type":"switch","z":"3402e8edbc9bfaff","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":70,"y":400,"wires":[["bcc8af3cfea794eb"],["60aedc5a08a0c569"],["62fe64f2c675aedc"],["828b9919c0c464f0"],["1d10719506f50a8d"],["4c44d771a25b871b"],["deb36931575c3472"],["496e7535859d0808"],["5408355826a2f082"],["1731c97fac36d203"],["aad1ade46090094a"],["161614832808e998"],["f43f698450347d9b"],["f20b9b34928b8a52"],["1add28193492586b"]]},{"id":"fe1f43165362028f","type":"ui_slider","z":"3402e8edbc9bfaff","name":"T","label":"Period","tooltip":"","group":"1c308914602a05f9","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.01","max":"1","step":"0.01","className":"","x":570,"y":280,"wires":[["d20a962e09e3d387"]]},{"id":"d20a962e09e3d387","type":"template","z":"3402e8edbc9bfaff","name":"T = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"t={{payload}}","output":"str","x":710,"y":280,"wires":[["637ff4cd43e68192"]]},{"id":"c558a671d9645b4c","type":"template","z":"3402e8edbc9bfaff","name":"psim = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"psim={{payload}}","output":"str","x":370,"y":320,"wires":[["939ee80fc81b2656"]]},{"id":"939ee80fc81b2656","type":"ui_switch","z":"3402e8edbc9bfaff","name":"Plantsim","label":"Plant simulation","tooltip":"","group":"0abc37aaffdee392","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"psim=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"psim=0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":520,"y":320,"wires":[["1372a1c2f58cdad9"]]},{"id":"1372a1c2f58cdad9","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":690,"y":320,"wires":[["637ff4cd43e68192"]]},{"id":"530801ad05e37fbe","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Datasize","label":"datasize","tooltip":"","group":"0abc37aaffdee392","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"10","max":"2000","step":"10","className":"","x":500,"y":380,"wires":[["54f254a96f0b0d8e"]]},{"id":"54f254a96f0b0d8e","type":"template","z":"3402e8edbc9bfaff","name":"datasize = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"datasize={{payload}}","output":"str","x":670,"y":380,"wires":[["637ff4cd43e68192"]]},{"id":"cffcf35611fb551b","type":"template","z":"3402e8edbc9bfaff","name":"capture = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"capture={{payload}}","output":"str","x":360,"y":420,"wires":[["729a6070e0d310e8"]]},{"id":"729a6070e0d310e8","type":"ui_switch","z":"3402e8edbc9bfaff","name":"Capture","label":"Capture","tooltip":"","group":"0abc37aaffdee392","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"capture=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"capture=0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":500,"y":420,"wires":[["ea8d1d78bbf50a7d"]]},{"id":"ea8d1d78bbf50a7d","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":650,"y":420,"wires":[["637ff4cd43e68192"]]},{"id":"f1b20cc3661c1374","type":"ui_slider","z":"3402e8edbc9bfaff","name":"r","label":"Ref.Cmd","tooltip":"","group":"336b34ba42605d99","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0.0","max":"3.0","step":"0.1","className":"","x":590,"y":220,"wires":[["23317cb4452bf83d"]]},{"id":"23317cb4452bf83d","type":"template","z":"3402e8edbc9bfaff","name":"r = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"r={{payload}}","output":"str","x":730,"y":220,"wires":[["637ff4cd43e68192"]]},{"id":"77122be284359b3e","type":"template","z":"3402e8edbc9bfaff","name":"feedback = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"feedback={{payload}}","output":"str","x":330,"y":480,"wires":[["4f63f2386f9cfbdb"]]},{"id":"4f63f2386f9cfbdb","type":"ui_switch","z":"3402e8edbc9bfaff","name":"feedback","label":"feedback","tooltip":"","group":"1c308914602a05f9","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"feedback=1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"feedback=0","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":500,"y":480,"wires":[["67c9d5f9f7801b3d"]]},{"id":"67c9d5f9f7801b3d","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":650,"y":480,"wires":[["637ff4cd43e68192"]]},{"id":"3b987bca9af2a9c4","type":"ui_dropdown","z":"3402e8edbc9bfaff","name":"controller","label":"controller","tooltip":"","place":"Select option","group":"1c308914602a05f9","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"PID","value":"controller=0","type":"str"},{"label":"custom","value":"controller=1","type":"str"},{"label":"state feedback","value":"controller=2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":500,"y":540,"wires":[["acf81a6c64a4fc80"]]},{"id":"acf81a6c64a4fc80","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":650,"y":540,"wires":[["637ff4cd43e68192"]]},{"id":"055644f11615fd12","type":"template","z":"3402e8edbc9bfaff","name":"controller = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"controller={{payload}}","output":"str","x":330,"y":540,"wires":[["3b987bca9af2a9c4"]]},{"id":"bcc8af3cfea794eb","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":350,"y":280,"wires":[["fe1f43165362028f"]]},{"id":"60aedc5a08a0c569","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":230,"y":320,"wires":[["c558a671d9645b4c"]]},{"id":"62fe64f2c675aedc","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":250,"y":360,"wires":[["530801ad05e37fbe"]]},{"id":"828b9919c0c464f0","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":230,"y":400,"wires":[["cffcf35611fb551b"]]},{"id":"4c44d771a25b871b","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":210,"y":500,"wires":[["055644f11615fd12"]]},{"id":"1d10719506f50a8d","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":210,"y":440,"wires":[["77122be284359b3e"]]},{"id":"5408355826a2f082","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":600,"wires":[["828533f9240f6301"]]},{"id":"828533f9240f6301","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Kp","label":"Kp","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"100","step":"0.1","className":"","x":470,"y":600,"wires":[["e9cb6d4e7995605c"]]},{"id":"e9cb6d4e7995605c","type":"template","z":"3402e8edbc9bfaff","name":"Kp = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"kp={{payload}}","output":"str","x":630,"y":600,"wires":[["637ff4cd43e68192"]]},{"id":"1731c97fac36d203","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":640,"wires":[["71953b9906bf89d3"]]},{"id":"71953b9906bf89d3","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Ki","label":"Ki","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"100","step":"0.1","className":"","x":470,"y":640,"wires":[["4ffea12dbebfca1e"]]},{"id":"4ffea12dbebfca1e","type":"template","z":"3402e8edbc9bfaff","name":"Ki = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ki={{payload}}","output":"str","x":630,"y":640,"wires":[["637ff4cd43e68192"]]},{"id":"aad1ade46090094a","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":680,"wires":[["54adb9ebb7488b92"]]},{"id":"54adb9ebb7488b92","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Kd","label":"Kd","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"100","step":"0.1","className":"","x":470,"y":680,"wires":[["8ff6a806f47dfb58"]]},{"id":"8ff6a806f47dfb58","type":"template","z":"3402e8edbc9bfaff","name":"Kd = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"kd={{payload}}","output":"str","x":630,"y":680,"wires":[["637ff4cd43e68192"]]},{"id":"161614832808e998","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":720,"wires":[["7cc6a546c8122701"]]},{"id":"7cc6a546c8122701","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Kt","label":"Kt","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"5","step":"0.1","className":"","x":470,"y":720,"wires":[["7605b5c0d5c1dee7"]]},{"id":"7605b5c0d5c1dee7","type":"template","z":"3402e8edbc9bfaff","name":"Kt = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"kt={{payload}}","output":"str","x":630,"y":720,"wires":[["637ff4cd43e68192"]]},{"id":"f43f698450347d9b","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":760,"wires":[["e5ddd3089a6118c2"]]},{"id":"e5ddd3089a6118c2","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Wp","label":"Wp","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"1","step":"0.1","className":"","x":470,"y":760,"wires":[["c4ef51a04107e3a2"]]},{"id":"c4ef51a04107e3a2","type":"template","z":"3402e8edbc9bfaff","name":"Wp = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"wp={{payload}}","output":"str","x":630,"y":760,"wires":[["637ff4cd43e68192"]]},{"id":"f20b9b34928b8a52","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":800,"wires":[["6c167913c2e0b198"]]},{"id":"6c167913c2e0b198","type":"ui_slider","z":"3402e8edbc9bfaff","name":"Wd","label":"Wd","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"1","step":"0.1","className":"","x":470,"y":800,"wires":[["7ba8b07daee9cee3"]]},{"id":"7ba8b07daee9cee3","type":"template","z":"3402e8edbc9bfaff","name":"Wd = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"wd={{payload}}","output":"str","x":630,"y":800,"wires":[["637ff4cd43e68192"]]},{"id":"1add28193492586b","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":310,"y":840,"wires":[["2449311fac7e0243"]]},{"id":"2449311fac7e0243","type":"ui_slider","z":"3402e8edbc9bfaff","name":"N","label":"N","tooltip":"","group":"ecd8225e775feb74","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"2","max":"200","step":"1","className":"","x":470,"y":840,"wires":[["69c51790496d5246"]]},{"id":"69c51790496d5246","type":"template","z":"3402e8edbc9bfaff","name":"N = ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"n={{payload}}","output":"str","x":630,"y":840,"wires":[["637ff4cd43e68192"]]},{"id":"89b62abf88285b1b","type":"ui_text_input","z":"3402e8edbc9bfaff","name":"Cmd","label":"Cmd","tooltip":"","group":"0abc37aaffdee392","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":730,"y":160,"wires":[["637ff4cd43e68192"]]},{"id":"d12174c41cb67bb6","type":"ui_button","z":"3402e8edbc9bfaff","name":"Autotune","group":"ecd8225e775feb74","order":7,"width":0,"height":0,"passthru":false,"label":"Autotune","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"autotune","payloadType":"str","topic":"topic","topicType":"msg","x":880,"y":700,"wires":[["637ff4cd43e68192"]]},{"id":"2decea7847d0c48b","type":"ui_button","z":"3402e8edbc9bfaff","name":"LSID","group":"0abc37aaffdee392","order":5,"width":0,"height":0,"passthru":false,"label":"LSID","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lsid","payloadType":"str","topic":"topic","topicType":"msg","x":870,"y":760,"wires":[["637ff4cd43e68192"]]},{"id":"deb36931575c3472","type":"ui_text","z":"3402e8edbc9bfaff","group":"ecd8225e775feb74","order":8,"width":0,"height":0,"name":"Autotune","label":"Autotune","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":120,"y":640,"wires":[]},{"id":"496e7535859d0808","type":"ui_text","z":"3402e8edbc9bfaff","group":"0abc37aaffdee392","order":6,"width":0,"height":0,"name":"LSID","label":"LSID","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":110,"y":700,"wires":[]},{"id":"b85d624f12254289","type":"rbe","z":"3402e8edbc9bfaff","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":450,"y":200,"wires":[["f1b20cc3661c1374"]]},{"id":"be691f50fa15561c","type":"mqtt-broker","name":"NETPIE2020","broker":"broker.netpie.io","port":"1883","clientid":"7cd53e80-58e4-4322-856f-e73dae43f358","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"336b34ba42605d99","type":"ui_group","name":"RYU display","tab":"8aa7040f0f4ab97b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1c308914602a05f9","type":"ui_group","name":"Controller","tab":"8aa7040f0f4ab97b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0abc37aaffdee392","type":"ui_group","name":"General ","tab":"8aa7040f0f4ab97b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ecd8225e775feb74","type":"ui_group","name":"PID ","tab":"8aa7040f0f4ab97b","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8aa7040f0f4ab97b","type":"ui_tab","name":"LAG3","icon":"dashboard","disabled":false,"hidden":false}]